body {
    text-align: center;
    background-color: #000000;
}

footer {
    color: white;
}

#level-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    margin: 5%;
    color: #FEF2BF;
}

.start {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Courier New;
    color: #f0f0f0;
    font-size: 20px;
    background: #3498db;
    padding: 5px 20px 5px 20px;
    text-decoration: none;
  }
  
  .start:hover {
    background: #301e67;
    background-image: -webkit-linear-gradient(top, #301e67, #3498db);
    background-image: -moz-linear-gradient(top, #301e67, #3498db);
    background-image: -ms-linear-gradient(top, #301e67, #3498db);
    background-image: -o-linear-gradient(top, #301e67, #3498db);
    background-image: linear-gradient(to bottom, #301e67, #3498db);
    text-decoration: none;
  }

.container {
    display: block;
    width: 50%;
    margin: auto;
}

.btn {
    margin: 25px;
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
}

.game-over {
    background-color: red;
    opacity: 0.8;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
}